<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Smart Payment Buttons Integration | Client Demo </title>

    <script src="https://www.paypal.com/sdk/js?{% for key,value in paypal_data.items %}{{ key }}={{ value }}{% endfor %}"></script>


    <script>
        const amount = "{{ amount }}";
        {#const currency =#}
    </script>
    <script src="{% static 'payment/paypal.js' %}"></script>
</head>

<body>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->

    <script>
        // Render the PayPal button into #paypal-button-container

    </script>
</body>

</html>
